@use '@/styles/variables.scss' as *;

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: $radius-round;
  background: linear-gradient(135deg, $color-primary-light 0%, $color-primary 100%);

  &.sm {
    width: 56rpx;
    height: 56rpx;

    .text {
      font-size: $font-size-sm;
    }
  }

  &.md {
    width: 88rpx;
    height: 88rpx;

    .text {
      font-size: $font-size-lg;
    }
  }

  &.lg {
    width: 140rpx;
    height: 140rpx;

    .text {
      font-size: $font-size-xxl;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    display: block;
  }

  .text {
    color: $color-text-white;
    font-weight: $font-weight-semibold;
  }
}
